html, body {
    height: 100%;
    background: #a78660;
    text-align: center;
    color: #e0d336;
}

h1 {
    user-select: none;
    font-size: 5em;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
a.backButton{
    
    margin-left: -90%;
    background-color: #1a1717;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

canvas {
	
	border: 1px solid #333;
}
